@import "../../vars.css";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(15px);
    z-index: 1000; 
    background:  #2c3be7da;
}

.title{
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu{
    display: flex;
}

.menuBtn{
    display: none;
}

.menuItems{
    display: flex;
    gap: 35px;
    list-style: none;
}

.menuItems a{
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover{
    text-decoration: underline;
}

/* responsive for other devices */

@media screen and (max-width: 830px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    /* in this .menu there is no need of margin-right: 10%; */ 
    .menu{
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg,rgba( 25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen{
        display: flex;
        z-index: 1;
    }
} 